<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smy.springboot2204.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.smy.springboot2204.pojo.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pass" jdbcType="VARCHAR" property="userPass" />
    <result column="user_roleId" jdbcType="INTEGER" property="userRoleid" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_pic" jdbcType="VARCHAR" property="userPic" />
    <result column="user_mail" jdbcType="VARCHAR" property="userMail" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_pass, user_roleId, user_phone, user_sex, user_pic, user_mail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tbl_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smy.springboot2204.pojo.User">
    insert into tbl_user (user_id, user_name, user_pass, 
      user_roleId, user_phone, user_sex, user_mail)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPass,jdbcType=VARCHAR}, 
      #{userRoleid,jdbcType=INTEGER}, #{userPhone,jdbcType=VARCHAR}, #{userSex,jdbcType=INTEGER}, 
      #{userMail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smy.springboot2204.pojo.User">
    insert into tbl_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPass != null">
        user_pass,
      </if>
      <if test="userRoleid != null">
        user_roleId,
      </if>
      <if test="userPhone != null">
        user_phone,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userPic != null">
        user_pic,
      </if>
      <if test="userMail != null">
        user_mail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userRoleid != null">
        #{userRoleid,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userPic != null">
        #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null">
        #{userMail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smy.springboot2204.pojo.User">
    update tbl_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPass != null">
        user_pass = #{userPass,jdbcType=VARCHAR},
      </if>
      <if test="userRoleid != null">
        user_roleId = #{userRoleid,jdbcType=INTEGER},
      </if>
      <if test="userPhone != null">
        user_phone = #{userPhone,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=INTEGER},
      </if>
      <if test="userPic != null">
        user_pic = #{userPic,jdbcType=VARCHAR},
      </if>
      <if test="userMail != null">
        user_mail = #{userMail,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smy.springboot2204.pojo.User">
    update tbl_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pass = #{userPass,jdbcType=VARCHAR},
      user_roleId = #{userRoleid,jdbcType=INTEGER},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=INTEGER},
      user_pic = #{userPic,jdbcType=VARCHAR},
      user_mail = #{userMail,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <update id="updatePhoto" parameterType="com.smy.springboot2204.pojo.User">
    update tbl_user
    set user_pic = #{userPic,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tbl_user
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>
</mapper>